.base--page {
	font-family: 'Syncopate', sans-serif;
}

.header h1 {
    margin-left: 20px;
	text-align: center;
	letter-spacing: 33px;
	padding: 0px 0px;
}

.header h1 a {
    color: #ff0000;
    text-decoration: none;
    font-size: 60px;
}

#headnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
}

#headnav li {
    float: left;
    width: 20%
}

#headnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#headnav li a:hover {
    background-color: #bd1c1c;
}

.footnav ul{
    width: 98.7%;
    position: fixed;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.footnav li {
    float: left;
    width: 22%;
    text-align: center;
    padding: 14px 16px;
}

.footnav li a{
    color: red;
    text-decoration: none;
}

#welcome {
    float: left;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 26%;
    overflow: scroll;
}

#contents {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 66%;
}
 
.boxed {
    margin-bottom: 10px;
    border: 1px #ff0000 solid;
}

.in-box {
    padding-left: 5px;
    padding-right: 5px;
}
