.base--page {
	font-family: 'Syncopate', sans-serif;
}

.heading {
    width: 100%;
}

.heading h1 {
    display: block;
    margin-left: 20px;
	text-align: center;
	letter-spacing: 33px;
	padding: 0px 0px;
}

.heading h1 a {
    color: #ff0000;
    text-decoration: none;
    font-size: 4.3vw;
}

#headnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
}

#headnav li {
    float: left;
    width: 20%
}

#headnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#headnav li a:hover {
    background-color: #bd1c1c;
}

.footnav ul{
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.footnav li {
    float: left;
    width: 25%;
}

.footnav li a{
    display: block;
    text-align: center;
    color: red;
    padding: 14px 16px;
    text-decoration: none;
}

#welcome {
    float: left;
    margin-bottom: 0px;
    margin-left: 20px;
    width: 26%;
    overflow: scroll;
    text-align: justify;
}

#contents-heading {
    float: left;
    margin-left: 30px;
    width: 66%
}

.contents {
    display: block;
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 33%;
}

.boxed {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px #ff0000 solid;
    height: 360px;
}

.boxed img {
    width: 100%;
    height: 65%;
}

.boxed h6 {
    text-align: center;
}

.boxed:hover {
    opacity: 0.4;
}

.in-box {
    padding-left: 5px;
    padding-right: 5px;
}

#bio {
    float: left;
    margin-bottom: 0px;
    margin-left: 20px;
    width: 47%;
    overflow: scroll;
    text-align: justify;
}

#tom-face  {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 33%;
}

#about-documents {
    float: left;
    margin-left: 30px;
    width: 47%;
}

#about-heading {
    width: 100%;
    margin-bottom: 55px;
}

.about-boxed {
    float: left;
    border: 1px #ff0000 solid;
    width: 47%;
    height: 100px;
    margin-right: 10px;
}

.about-boxed:last-child {
    margin-right: 10px;
}

.about-boxed h4 {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 21px 0px;
}

.editable {
    color: black;
    text-decoration: none;
}

.editable:hover {
    color: red;
}

.edit-button {
    font-family: 'Syncopate', sans-serif;
    background-color: red;
    color: white;
    width: 25%;
    height: 4vw;
    font-size: 1.4vw;
    border: none;
    margin-left: 4.6vw;
}

textarea {
    font-family: 'Syncopate', sans-serif;
    border: 1px #ff0000 solid;
    width: 95%;
    float: right;
}

.blog-sidebar {
    font-family: 'Ariel', sans-serif;
    font-size: 1.3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    float: left;
    background-color: white;
    border: 1px #ff0000 solid;
    width: 12.5%;
    color: red;
    overflow: hidden;
}

.blog-sidebar ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
}

.blog-sidebar li {
    width: 100%;
    overflow: hidden;
}

.blog-sidebar-header {
    padding-left: 1vw;
}

.blog-main {
    width: 100%;
}

.blog-main a {
    text-decoration: none;
    color: black;
}

.blog-main a:hover {
    opacity: 0.4;
}

.blog-preview {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    float: right;
    border: 1px #ff0000 solid;
    width: 27.5%;
    text-align: center;
}

.blog-preview img {
    width: 100%;
}
