{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }} | BLOG {% endblock %}
{% block content %}
{% include "blog/blog_base.html" %}
<div class="blog-main">
	{% for post in posts %}
		<a href="{% url 'blog:blog' slug=post.slug year=post.created_date.year %}">
		<div class="blog-preview">
			<img src="{% static post.post_image.url %}" alt="blog_image"/>
			<h6 class="in-box">{{ post.title }} ({{ post.published_date }})</h6>
		</div>
		</a>
	{% endfor %}
</div>
{% endblock %}