{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }} | BLOG {% endblock %}
{% block content %}
<div class="blog-sidebar">
	<p class="blog-sidebar-header">Blog Post Filter:</p>
	<ul>
		<li class="blog-sidebar-subheader">Topic:</li>
		<ul>
			{% for topic in topics %}
				<li class="blog-sidebar-title">{{ topic }}</li>
			{% endfor %}
		</ul>
		<li class="blog-sidebar-subheader">Year:</li>
		<ul>
			{% for year in years %}
				<li class="blog-sidebar-title">{{ year }}</li>
			{% endfor %}
		</ul>
	</ul>
</div>
<div class="blog-main">
	{% for post in posts %}
	<a href="{% url 'blog:blog' slug=post.slug year=post.created_date.year %}">
		<div class="blog-preview">
			<img src="{% static post.post_image.url %}" alt="blog_image"/>
			<h6 class="in-box">{{ post.title }} ({{ post.published_date }})</h6>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}