{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }} | ABOUT {% endblock %}
{% block content %}
<div id="bio">
	{% if user.is_authenticated %}
		<a href="{% url 'main:main-edit' message=message %}"class="editable"><h3 class="editable">{{ message.block_name }}!</h3></a>
	{% else %}
		<h3>{{ message.block_name }}!</h3>
	{% endif %}
	<h5>{{ message.mod_date }}</h5>
	<p>
		<img id="tom-face" src={% static "main/images/tom.jpg" %}>
		{{ message.block_text|linebreaks }}
	</p>
</div>
<section id="about-documents">
	<div id="about-heading">
		<h3>Documents:</h3>
	</div>
	<a href="{% static 'main/files/RavenscroftTomCV.pdf' %}">
		<div class="about-boxed">
			<h4>CURRICULUM VITAE</h4>
		</div>
	</a>
		<a href="{% static 'main/files/RavenscroftTomThesis.pdf' %}">
		<div class="about-boxed">
			<h4>PH.D THESIS</h4>
		</div>
	</a>
</section>
{% endblock %}