{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }} | HOME {% endblock %}
{% block content %}
	<div id="welcome">
		<h3>{{ message.block_name }}!</h3>
		<h5>{{ message.mod_date }}</h5>
		{{ message.block_text|linebreaks }}
		{% if user.is_authenticated %}
			<a href="{% url 'main:main-edit' message=message %}">edit</a>
		{% endif %}
	</div>
	<div id="contents-heading">
		<h3>What's New...</h3>
	</div>
	<a href="{% url 'blog:blog' slug=blog.slug %}">
	<div class="contents">
		<section class="boxed">
			<h5 class="in-box">Blog</h5>
			<img src="{% static blog.post_image %}" alt="blog_image"/>
			<h6 class="in-box">{{ blog.title }} ({{ blog.published_date }})</h6>
		</section>
	</div>
	</a>
	<div class="contents">
		<section class="boxed">
			<h5 class="in-box">Photos</h5>
			<p class="in-box">
				{{ message.block_text }}
			</p>
		</section>
	</div>
{% endblock %}