<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<title>{% block title %} Tom Ravenscroft {% endblock %}</title>
	</head>

	<body class="base--page">
		<header class="header">
			<div>
				<h1><a href="/">TOM RAVENSCROFT</a></h1>
			</div>

			<div id="headnav">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/about/">ABOUT</a></li>
					<li><a href="/blog/">BLOG</a></li>
					<li><a href="/photography/">PHOTOS</a></li>
					<li><a href="/trips/">TRIPS</a></li>
				</ul>
			</div>
		</header>
		{% block content %}
        {% endblock %}
		<footer>
			<div class="footnav">
				<ul>
					<li><a href="https://github.com/PhysTom88">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/toravenscroft">LinkedIn</a></li>
					<li><a href="https://twitter.com/phystom">twitter</a></li>
					<li><a href="https://www.facebook.com/thomas.ravenscroft.39">Facebook</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
